Django==5.0
djangorestframework==3.14.0
django-environ==0.11.2
django-filter==23.5
django-autoslug==1.9.9
django-countries==7.5.1
Pillow==10.1.0
django-phonenumber-field==7.2.0
phonenumbers==8.13.26
psycopg2-binary==2.9.9
flake8==6.1.0
black==23.11.0
isort==5.12.0
djoser==2.2.2