/* 
Dark Blue
#050A30
Navy Blue
#000C66
Blue
#0000FF
Baby Blue
#7EC8E3 
*/

.navbar {
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background: #050A30;
}

.navbar__links {
    color: #2c3576;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 30px;
    padding: 10px 10px;
}